*{
    
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.home{
    font-family: Maitree;
    color: #e9c46a;
    font-size: 25px;
}


.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: inherit;
    background-color: #264653;
}


  
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #e9c46a
}

.nav-item.active{
 color:rgb(225, 44, 192);


}

.Nav-menu{

    font-family: Montserrat;
    padding: 50px;
    display: flex;
    justify-content:right;
    align-items: flex-end;
    top:0;
    margin-right: 1rem;
    margin-left: 10rem;
    position:relative;
    z-index: 20;
    color: #e9c46a;
}

.NavLink {

    color: #e9c46a;
    padding: 15px;
    display: block;
    height: 100%;

}


.Nav-Icon {
    display: none;

}
  
@media screen and (max-width: 960px) {
    .Nav-menu {
      display: flex;
      flex-direction:column;
      width: 100%;
      position: absolute;
      margin-top: 30px;
      opacity: 1;
      left: -110%;
      transition: all 0.5s ease;

    }

    .Nav-menu .active {
        background: #264653;
        left: 0px;
        opacity: 1;
        transition: all .5s ease;
        z-index: 1;
        color:#e9c46a;
    }   

    .NavLink {
        padding: 1.5rem;
        width: 100%;
        display: table;

    }

    
    .Nav-Icon {
        display: block;
        position: absolute;
        top:0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color:#e9c46a;

    }
}